# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env/
.venv/



# OS/editor
.DS_Store
*.swp

# Model artifacts
*.npz

# Ignore MNIST binary files
data/*.idx*
data/*.ubyte

# Keep folder and README
!data/
!data/README.md
!data/.gitkeep